<div style="background-color: #cccccc; padding: 20px;">
  <h4>todo</h4>
  <div style="cursor: pointer;" (click)="toggleTaskStatus(todo)" *ngFor="let todo of incompleteTasks">{{todo.name}}</div>
  <h4>done</h4>
  <div style="text-decoration: line-through; cursor: pointer;" (click)="toggleTaskStatus(todo)" *ngFor="let todo of completeTasks">{{todo.name}}</div>
  <input #newTaskInput>
  <button (click)="addTask()">add</button>
  <div>
    <span>sort mode:</span>
    <button (click)="changeSortMode()">{{sortMode}}</button>
    <button (click)="sortTasks()">sort</button>
  </div>
</div>